<!-- Form for write comment -->
<%= form_for([@review, @review.comments.new]) do |f| %>
  <div class="form-group row">
    <div class="">
        <%= f.hidden_field :review_id, value: @review.id %>
    </div>
    <div class="col-11">
      <%= f.text_field :content, :class => "form-control", placeholder: "Write comment ..." %>
    </div>
    <div class="col-1">
      <%= f.submit "Comment", :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
