<div class="slide">
  <%= image_tag "book-slide.jpg", :class => "slide-image" %>
</div>

<div class="books">
  <div class="row">
    <div class="col-md-10">
      <div class="sort-tab">
        <div class="row">
          <div class="sort-tab-item">
            <a class="sort-tab-link active" href="#">Latest</a>
          </div>
          <div class="sort-tab-item">
            <a class="sort-tab-link" href="#">High Rate</a>
          </div>
          <div class="sort-tab-item">
            <a class="sort-tab-link" href="#">Random</a>
          </div>
          <div class="right">
            <div class="dropdown">
              <button class="btn btn-white btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Category
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <% @categories.each do |category| %>
                    <%= link_to category.name,
                    {:controller => "books", :action => "filter", :cate => category.id },
                    :class => "dropdown-item" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-columns">
        <% @books.each do |book| %>
        <%= render partial: 'shared/book_card', locals: { book: book } %>
        <% end %>
      </div>

      <div class="digg_pagination">
        <%= will_paginate @books, :container => false %>
      </div>
    </div>
  </div>
</div>

