$gray-medium-light: #eaeaea;
$butterfly: #8904B1;
$nice_blue: #3104B4;
$shit: #AEB404;
$gray_light: #d3d3d3;
$gao_silver: #E6E6E6;


#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 15px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.body-bg {
  background-color: rgb(242, 242, 242);
}

.header {
  padding: 5px 70px;

  .brand {
    margin: 0;
  }

  .search-bar {
    border-right: 0;
  }

  .search-button {
    border:0;
    background:transparent;
  }

  .input-group-addon {
    border: 0;
    background-color: #f50;
  }

  .image {
    background-color: #fff;
    border-radius: 50%;
    margin-right: 10px;
   }

  .item {
    text-align: center;
    margin: auto;
  }
}

.btn-orange {
  @extend .btn-primary;
  background-color: #f50;
}

.dark-link {
  a {
    color: rgb(33, 37, 41);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;;
    font-weight: 600;
    line-height: 30px;
  }

  a:link {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
    background: #ffffff;
    color: #09f;
  }
}

.no-border {
  border: 0;
}

.body {
  margin: 20px;
  padding-top: 30px;
  background-color: #ffffff;

  .index-left {
    padding: 0;
  }

  .slide-image {
    height: auto;
    width: 100%;
  }

  .login {
    padding: 20px;
    margin: 40px 250px;
    border: 1px solid rgb(229, 229, 229);
    background-color: #ffffff;

    .login-title {
      display: block;
      text-align: center;
      border-bottom: 1px solid rgb(229, 229, 229);
      margin-bottom: 20px;

      h2 {
        margin-top: 10px;
      }
    }

    .login-body {
      padding-bottom: 20px;
      border-bottom: 1px solid rgb(229, 229, 229);
    }

    .facebook-login {
      padding-top: 20px;
      margin-bottom: 20px;
      display: block;
    }
  }

  .category {
    display: block;
  }

  .books {
    display: block;
    padding: 20px;
    padding-left: 40px;
    padding-right: 0;

    .card {
      border: 0;
      padding-bottom: 0;
      margin-bottom: 0;

      .card-head {
        height: 140px;
        overflow: hidden;
        text-overflow: ellipsis;

        .rate-point {
          display: block;
          color: yellow;

          .text {
            color: rgb(33, 37, 41);
          }
        }

        .review-count {
          display: block;
        }
      }

      .card-content {
        height: 120px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .new-book {
    padding: 20px;

    .title {
      border-bottom: 1px solid rgb(229, 229, 229);
      padding-bottom: 10px;
    }

    .content {
      padding: 10px;

      input[type="file"] {
          display: none;
      }

      .image {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
        opacity: 1;
        display: block;
        transition: .5s ease;
        backface-visibility: hidden;
      }

      .upload-button {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%)
      }

      .left:hover .image {
        opacity: 0.3;
      }

      .left:hover .upload-button {
        opacity: 1;
      }

      .item {
        padding-top: 5px;
      }
    }
  }

  .sort-tab {
    display: block;

    .row {
      border-bottom: 1px solid #f2f2f2;
    }

    .right {
      margin-left:auto;
      margin-right:0px;

      .btn-white {
        background-color: #fff;
        padding: 0px 40px;
      }
    }

    .sort-tab-item {
      margin: 0px 10px;
      margin-right: 24px;
      font-size: 20px;

      .sort-tab-link {
        cursor: pointer;
        color: #333;
        display: block;
      }

      .active {
        border-bottom: 1px solid #f50;
      }
    }
  }

  .book-detail {
    background-color: white;
    padding: 0px 30px;
  }

  .content {
    padding: 40px 60px;
    padding-right: 150px;

    .left-section {
      .image {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
      }

      .info {
        padding-top: 30px;

        .data {
          color: #868e96;
          padding-left: 10px;
        }
      }
    }

    .right-section {
      padding-left: 30px;

      .reviews {
        padding-top: 30px;

        .point {
          padding-left: 25px;
          overflow: visible;
        }

        .review {
          padding-top: 20px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        }

        .title {
          padding-left: 30px;

          a {
            font-size: 16px;
            color: rgb(33, 37, 41);
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;;
            font-weight: 600;
            line-height: 30px;
          }

          a:link {
            text-decoration: none;
          }

          a:visited {
            text-decoration: none;
          }

          a:hover {
            text-decoration: none;
            background: #ffffff;
            color: #09f;
          }
        }

        .content {
          padding: 10px 0px;
        }
      }
    }
  }

  .review-detail {
    padding: 0px 40px;

    .book {
      padding-bottom: 10px;
      border-bottom: 1px solid rgb(229, 229, 229);

      .title {
        font-size: 20px;
      }
    }

    .review {
      padding: 20px 0px;

      .star {
        display: inline-block;
        height: 100%;
      }

      .content {
        padding: 20px 0px;
      }
    }
  }

  .new-review {
    padding: 30px;

    .title {
      padding-bottom: 5px;
      border-bottom: 1px solid rgb(229, 229, 229);

      .book-link {
        font-size: 24px;
        font-weight: normal;
      }
    }

    .form {
      padding: 20px;
    }

    .item {
      padding-bottom: 10px;
    }
  }
}

.carousel-item .img-fluid {
  width:100%;
  height:100%;
}

.card {
  padding: 20px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.card-img-top {
    width: 100%;
}

$card-column-sizes: (
    xs: 3,
    sm: 3,
    md: 3,
    lg: 3,
);

@each $breakpoint-size, $column-count in $card-column-sizes {
    @include media-breakpoint-up($breakpoint-size) {
      .card-columns {
        column-count: $column-count;
        column-gap: 1.25rem;

        .card {
          display: inline-block;
          width: 100%; // Don't let them exceed the column width
        }
      }
    }
}

footer {
  margin-top: 45px;
  padding-top: 15px;
  border-top: 1px solid black;
  color: $gray-light;
  a {
    padding-bottom: 5px;
    color: $nice_blue;
    &:hover {
      color: $butterfly;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

.digg_pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .digg_pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }

.glyphicon {  margin-bottom: 10px;margin-right: 10px;}

small {
display: block;
line-height: 1.428571429;
color: #999;
}

@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
.fa-fw {
  width: 2em;
}
.circle-tile {
    margin-bottom: 15px;
    text-align: center;
}
.circle-tile-heading {
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    color: #FFFFFF;
    height: 80px;
    margin: 0 auto -40px;
    position: relative;
    transition: all 0.3s ease-in-out 0s;
    width: 80px;
}
.circle-tile-heading .fa {
    line-height: 80px;
}
.circle-tile-content {
    padding-top: 50px;
}
.circle-tile-number {
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
    padding: 5px 0 15px;
}
.circle-tile-description {
    text-transform: uppercase;
}
.circle-tile-footer {
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255, 0.5);
    display: block;
    padding: 5px;
    transition: all 0.3s ease-in-out 0s;
}
.circle-tile-footer:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}
.circle-tile-heading.dark-blue:hover {
    background-color: #2E4154;
}
.circle-tile-heading.green:hover {
    background-color: #138F77;
}
.circle-tile-heading.orange:hover {
    background-color: #DA8C10;
}
.circle-tile-heading.blue:hover {
    background-color: #2473A6;
}
.circle-tile-heading.red:hover {
    background-color: #CF4435;
}
.circle-tile-heading.purple:hover {
    background-color: #7F3D9B;
}
.tile-img {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9);
}

.dark-blue {
    background-color: #34495E;
}
.green {
    background-color: #16A085;
}
.blue {
    background-color: #2980B9;
}
.orange {
    background-color: #F39C12;
}
.red {
    background-color: #E74C3C;
}
.purple {
    background-color: #8E44AD;
}
.dark-gray {
    background-color: #7F8C8D;
}
.gray {
    background-color: #95A5A6;
}
.light-gray {
    background-color: #BDC3C7;
}
.yellow {
    background-color: #F1C40F;
}
.text-dark-blue {
    color: #34495E;
}
.text-green {
    color: #16A085;
}
.text-blue {
    color: #2980B9;
}
.text-orange {
    color: #F39C12;
}
.text-red {
    color: #E74C3C;
}
.text-purple {
    color: #8E44AD;
}
.text-faded {
    color: rgba(255, 255, 255, 0.7);
}

.list-group-item.active, .list-group-item.active:hover {
    background-color: #ffff66;
    border-color: #BDC3C7;
}
